@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@config "../../tailwind.config.ts";

/* Tailwind v4 */
@import "tailwindcss";


@layer base {
  :root {
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
  }

  body {
    font-family: "Athiti", sans-serif;
  }
}

@layer utilities {
  .font-sans-num {
    font-family: "Open Sans", sans-serif;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 999px;
  }
}
